<div id="option-{{ forloop.counter0 }}">
  <label id="option-label-{{ forloop.counter0 }}" class="mb-2">Option {{ forloop.counter }}</label>
  {% if option.id.value %}
    <input type="hidden" name="mcq-{{ forloop.counter0 }}-id" value="{{ option.id.value }}" id="id_mcq-{{ forloop.counter0 }}-id">
  {% endif %}
  <input type="checkbox" style="visibility:hidden" class="delete-checkbox" name="mcq-{{ forloop.counter0 }}-DELETE" id="id_mcq-{{ forloop.counter0 }}-DELETE" {% if form.DELETE.value %}checked{% endif %}>
  <button type="button" class="btn btn-danger btn-sm float-end mb-2" onclick="deleteOption(this);" {% if forloop.last and forloop.counter0 == 0 %}disabled{% endif %}>Delete</button>
  <div class="mb-3">
    <input 
        type="text"
        id="id_mcq-{{ forloop.counter0 }}-content"  
        name="mcq-{{ forloop.counter0 }}-content" 
        class="form-control" 
        placeholder="Enter Option"
        value="{{ option.content.value|default:"" }}" 
        required />
    </input>
  </div>
  <div class="checkbox mb-3">
    <input 
        type="checkbox" 
        id="id_mcq-{{ forloop.counter0 }}-correct" 
        name="mcq-{{ forloop.counter0 }}-correct" 
        class="form-check-input me-2 mt-0" 
        {% if option.correct.value %}checked{% endif %}/>
    <label for="id_mcq-{{ forloop.counter0 }}-correct">Correct Option</label>
  </div>
</div>
