{% extends 'layouts/main-top-side-nav.html' %}
{% load static utils %}

{% block title %}{{ assessment }} | Assessment{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'vendors/choices.js/choices.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendors/toastify/toastify.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendors/highlight.js/styles/intellij-light.css' %}">
{% endblock %}

{% block content %}
  <div class="page-heading">
    <!-- Page Title -->
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last pb-3">
          <h5>Assessment</h5>
          <h2>{{ assessment }}</h2>
          {% if assessment.status == "Active" %}
            <span class="badge bg-success">{{ assessment.status }}</span>
          {% else %}
            <span class="badge bg-secondary">{{ assessment.status }}</span>
          {% endif %}
        </div>
      </div>
    </div>

    {% if assessment.deleted %}
      <div class="alert alert-danger">
        <h4 class="alert-heading">Deleted</h4>
        <div class="d-flex justify-content-between">
          <p>This assessment was deleted and not visible to candidates.</p>
          <form method="post" action="{% url 'undo-delete-assessment' assessment_id=assessment.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-secondary">Undo Delete</button>
          </form>
        </div>
      </div>
    {% endif %}

    {% if not assessment.published %}
      <div class="alert alert-secondary">
        <h4 class="alert-heading">Unpublished</h4>
        <div class="d-flex justify-content-between px-2">
          <p>This assessment is unpublished and not visible to candidates.<br>
            <span class="text-danger"><b>Note: </b>Existing preview attempts will be deleted when adding, updating or deleting questions.</span>
          </p>
          <div>
            <a class="btn btn-sm btn-warning" href="{% url 'assessment-landing' assessment_id=assessment.id %}">Preview</a>
            <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#publishModal">
              Publish
            </button>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-8">
        <!-- Assessment information card -->
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title">Assessment Information</h4>
            {% if request.user|has_group:'educator' %}
              <div>
                {% if assessment.published %}
                  <a class="btn btn-sm btn-success" href="{% url 'assessment-report' assessment_id=assessment.id %}">
                    View Report</a>  
                {% endif %}
                <a class="btn btn-sm btn-danger" href="{% url 'update-assessment' assessment_id=assessment.id %}?next={{ request.path }}">
                  Edit Details</a>
              </div>
            {% endif %}
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h6>Course</h6>
                <a class="fw-bold" href="{% url 'course-details' course_id=assessment.course.id %}">{{ assessment.course }}</a>
              </div>
              <div class="col-6">
                <h6>Assessment Name</h6>
                <p>{{ assessment.name }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <h6>Attempts Allowed</h6>
                <p>{{ assessment.num_attempts|default:"Unlimited" }}</p>
              </div>
              <div class="col-4">
                <h6>Show Grade</h6>
                <p>{% if assessment.show_grade %}Yes{% else %}No{% endif %}</p>
              </div>
              <div class="col-4">
                <h6>Access PIN</h6>
                <span class="badge rounded-pill bg-light-secondary fs-6 font-monospace">{{ assessment.pin|default_if_none:"No PIN" }}</span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-4">
                <h6>Duration</h6>
                <p>{% if assessment.duration %}{{ assessment.duration }} minutes{% else %}Unlimited{% endif %}</p>
              </div>
              <div class="col-4">
                <h6>Time Start</h6>
                <p>{{ assessment.time_start|default_if_none:"-" }}</p>
              </div>
              <div class="col-4">
                <h6>Time End</h6>
                <p>{{ assessment.time_end|default_if_none:"-" }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-4">
                <h6>Require Webcam</h6>
                <p>{% if assessment.require_webcam %}Yes{% else %}No{% endif %}</p>
              </div>
              <div class="col-4">
                <h6>Limit Tab Switching</h6>
                <p>{% if assessment.limit_tab_switching %}Yes{% else %}No{% endif %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Instructions card -->
      <div class="col-4">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <h4 class="card-title">Instructions for candidates</h4>
              <p class="card-text">
                {{ assessment.instructions|linebreaks }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Questions card -->
    {% include 'assessments/manage-questions.html' %}
  </div>

  <!-- Modal: Publish assessment -->
  <div class="modal fade" id="publishModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Publish Assessment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure?
            <br><br>
            You <b>cannot modify test cases and languages</b> once the assessment is published. All preview attempts will also be deleted.
            <br><br>
            <i class="fa-solid fa-circle-info"></i> This enforces the consistency of the assessment for candidates who have yet to make an attempt.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form action="{% url 'publish-assessment' assessment_id=assessment.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Publish</button>
          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock %}