{% load static utils %}

<div class="row">
    <div class="col-12 m-2">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>Questions</h3>
            </div>

            <div class="card-body">
                <!-- MCQ question section -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5>MCQ Questions</h5>
                    {% if assessment.published == False %}
                    <div>
                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal"
                            data-bs-target="#mcq-questions-modal">
                            Add from Question Bank
                        </button>
                        <a href="{% url 'create-mcq-question' parent='as' parent_id=assessment.id %}"
                            class="btn btn-sm btn-secondary">Create New</a>
                    </div>
                    {% endif %}
                </div>

                <table class="table-responsive table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Score</th>
                            <th>Multiple Answers</th>
                            <th>Tags</th>
                            <th width="250px">Actions
                                <div class="spinner-border spinner-border-sm" id="actions-loading" style="display:none">
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if assessment.mcqquestion_set.count == 0 %}
                        <tr>
                            <td colspan="5" class="text-center">No MCQ questions found</td>
                        </tr>
                        {% else %}
                        {% for q in assessment.mcqquestion_set.all %}
                        <tr>
                            <td>{{ q.name }}</td>
                            <td>{{ q.score }}</td>
                            <td>
                                {% if q.multiple_answers %}
                                  <span class="badge bg-light-success">Y</span>
                                {% else %}
                                  <span class="badge bg-light-danger">N</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if q.tags.all.count == 0 %}
                                -
                                {% else %}
                                {% for tag in q.tags.all %}
                                <span class="badge bg-light-secondary">{{ tag.name }}</span>
                                {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'preview-question' question_id=q.id %}" target="_blank"
                                    class="btn btn-sm btn-warning">Preview</a>
                                <button type="button" id="more-details" class="btn btn-sm btn-primary view-modal"
                                    data-mcq-id="{{ q.id }}" onclick="viewMcqModal(this)">
                                    View
                                </button>
                                {% if request.user|has_group:'educator' %}
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-secondary btn-sm" href="{% url 'update-mcq-question' mcq_question_id=q.id %}">Edit</a>
                                    </div>
                                </div>
                                {% endif %}
                                {% if not assessment.published %}
                                <button data-question_id="{{ q.id }}" data-question_type="mcq" type="button" class="btn btn-sm btn-danger"
                                    onclick="deleteQuestion(this);">Delete
                                </button>
                                {% else %}
                                <a class="btn btn-sm btn-success" target="__blank" href="{% url 'question-report' assessment_id=assessment.id question_id=q.id %}">
                                    Report</a>  
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>


                <!-- Code question section -->
                <div class="d-flex justify-content-between align-items-center mt-5 mb-3">
                    <h5>Code Questions</h5>
                    {% if assessment.published == False %}
                    <div>
                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal"
                            data-bs-target="#code-questions-modal">
                            Add from Question Bank
                        </button>
                        <a href="{% url 'create-code-question' parent='as' parent_id=assessment.id %}"
                            class="btn btn-sm btn-secondary">Create New</a>
                    </div>
                    {% endif %}
                </div>

                <table class="table-responsive table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Test Cases</th>
                            <th>Max Score</th>
                            <th>Languages</th>
                            <th>Concurrency</th>
                            <th>Tags</th>
                            <th width="250px">Actions
                                <div class="spinner-border spinner-border-sm" id="actions-loading" style="display:none">
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if assessment.codequestion_set.count == 0 %}
                        <tr>
                            <td colspan="7" class="text-center">No code questions found</td>
                        </tr>
                        {% else %}
                        {% for q in assessment.codequestion_set.all %}
                        <tr>
                            <td>{{ q.name }}</td>
                            <td>
                                {% if q.testcase_set.count == 0 %}
                                <span class="badge bg-light-danger">No test cases set</span>
                                {% else %}
                                {{ q.testcase_set.count }}
                                {% endif %}
                            </td>
                            <td>{{ q.max_score }}</td>
                            <td>
                                {% if q.languages.count == 0 %}
                                <span class="badge bg-light-danger">No languages set</span>
                                {% else %}
                                {% for lang in q.languages|slice:":2" %}
                                <span class="badge bg-light-secondary">{{ lang.name }}</span>
                                {% endfor %}
                                {% if q.languages.count > 2 %}
                                <span class="badge bg-light-secondary">+{{ q.languages.count|add:"-2" }} more</span>
                                {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if q.is_concurrency_question %}
                                  <span class="badge bg-light-success">Y</span>
                                {% else %}
                                  <span class="badge bg-light-danger">N</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if q.tags.all.count == 0 %}
                                -
                                {% else %}
                                {% for tag in q.tags.all %}
                                <span class="badge bg-light-secondary">{{ tag.name }}</span>
                                {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'preview-question' question_id=q.id %}" target="_blank"
                                    class="btn btn-sm btn-warning {% if q.languages.count == 0 or q.testcase_set.count == 0 %}disabled{% endif %}">Preview</a>
                                <button type="button" id="more-details" class="btn btn-sm btn-primary view-modal"
                                    data-cq-id="{{ q.id }}" onclick="viewCodeModal(this)">
                                    View
                                </button>
                                {% if request.user|has_group:'educator' %}
                                <div class="btn-group">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edit
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item"
                                                href="{% url 'update-code-question' code_question_id=q.id %}">Description</a>
                                            {% if not assessment.published %}
                                            <a class="dropdown-item"
                                                href="{% url 'update-languages' code_question_id=q.id %}?next={{ request.path }}">Languages</a>
                                            <a class="dropdown-item"
                                                href="{% url 'update-test-cases' code_question_id=q.id %}?next={{ request.path }}">Test
                                                Cases</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if not assessment.published %}
                                <button data-question_id="{{ q.id }}" data-question_type="code" type="button" class="btn btn-sm btn-danger"
                                    onclick="deleteQuestion(this);">Delete
                                </button>
                                {% else %}
                                <a class="btn btn-sm btn-success" target="__blank" href="{% url 'question-report' assessment_id=assessment.id question_id=q.id %}">
                                    Report</a>  
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Add from question bank -->
{% include 'assessments/snippets/code-question-bank-modal.html' %}
{% include 'assessments/snippets/mcq-question-bank-modal.html' %}

<!-- Modal: View questions -->
{% include 'code_questions/snippets/view-code-modal.html' %}
{% include 'mcq_questions/snippets/view-mcq-modal.html' %}

{% block js %}
<script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendors/choices.js/choices.min.js' %}"></script>
<script src="{% static 'vendors/toastify/toastify.js' %}"></script>

<!-- Add from question bank modal script -->
{% include 'assessments/scripts/code-question-bank-modal-script.html' %}
{% include 'assessments/scripts/mcq-question-bank-modal-script.html' %}

<!-- Delete question script -->
{% include 'question_banks/scripts/delete-question-script.html' %}

<!-- View modal script -->
{% include 'code_questions/snippets/view-code-modal-script.html' %}
{% include 'mcq_questions/snippets/view-mcq-modal-script.html' %}

{% endblock %}