<div class="modal fade" id="tab-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="bi bi-exclamation-triangle-fill" style="font-size: 2em;"></i>
          &nbsp;&nbsp;&nbsp;Tab Switching Warning
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" />
      </div>
      <div class="modal-body">
        <div>Please do not move out of the test screen.</div>
        <div>You will lose your progress and your test will be submitted automatically.</div>
        <div id="tab-switch-countdown" style="color:red; text-align: center;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
