<!-- Delete question script -->
<script>
    const actionSpinner = $("#actions-loading");

    const deleteQuestion = (btn) => {
        // confirmation before deletion
        if (confirm("Are you sure you wish to remove the question?\nThis action cannot be reversed.") === true) {
            
        } else {
            return false;
        }

        const question_id = btn.dataset.question_id;
        const question_type = btn.dataset.question_type;
        actionSpinner.show();

        // prepare form data
        let formData = new FormData();
        formData.append("question_id", question_id);
        formData.append("question_type", question_type);
        formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

        // ajax request
        $.ajax({
            type: 'POST',
            url: "{% url 'delete-question' %}",
            data: formData,
            processData: false,
            contentType: false,
        }).done((res, textStatus, jqXHR) => {
            setTimeout(() => {
                if (res.result === "success") {
                    // show success toast
                    Toastify({
                        text: "Question successfully deleted!",
                        duration: 5000,
                        position: "center",
                        style: {"background": "#77DD77"}
                    }).showToast();

                    // remove row
                    const toRemove = $(btn).parent().parent();
                    toRemove.fadeOut('slow', () => {
                        toRemove.remove();
                    });
                }
            }, 300);
        }).fail((jqXHR, textStatus, errorThrown) => {
            // 4xx status codes
            if (Math.floor(jqXHR.status / 100) == 4) {
                Toastify({
                    text: "Unable to remove the question, please refresh the page.",
                    duration: 5000,
                    position: "center",
                    style: {"background": "#ff6961"}
                }).showToast();
            }
            else {
                Toastify({
                    text: "An error has occurred. Please refresh the page.",
                    duration: 5000,
                    position: "center",
                    style: {"background": "#ff6961"}
                }).showToast();
            }
        }).always((res) => {
            setTimeout(() => {
                actionSpinner.hide();
            }, 300);
        });
    }
</script>