<script>
    const submitAssessment = (confirmation) => {
      if (confirmation) {
        if ({{ assessment_attempt.assessment.limit_tab_switching|yesno:"true,false"}}) {
          window.onblur = () => {};
        }

        if (confirm("Are you sure you would like to end the assessment attempt?")) {
            document.getElementById("end-assessment-form").submit();
        }
        else {
          if ({{ assessment_attempt.assessment.limit_tab_switching|yesno:"true,false"}}) {
            setTimeout(() => {
              window.onblur = () => { handleTabSwitch(); }
            }, 1000);
          }
        }
      }

      else {
        document.getElementById("end-assessment-form").submit();
      }
    }
</script>