{% extends 'layouts/main-top-side-nav.html' %}
{% load static %}

{% block title %}Allowed Languages{% endblock %}

{% block styles %}
  <style>
    @font-face {
      font-family: 'JetBrains Mono';
      src: url('{% static 'fonts/JetBrainsMono-Regular.ttf' %}') format('truetype');
    }
    textarea {
      font-family: 'JetBrains Mono';
      font-style: normal;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last pb-3">
          {% if code_question.question_bank != None %}
            <a class="d-flex align-content-between mb-3" style="cursor: pointer;" href="{% url 'question-bank-details' question_bank_id=code_question.question_bank.id %}">
              <i class="fa-solid fa-arrow-left-long fa-lg" style="margin-right: 10px;"></i>
              <h6>Back to {{ code_question.question_bank.name }}</h6>
            </a>
          {% elif code_question.assessment != None %}
            <a class="d-flex align-content-between mb-3" style="cursor: pointer;" href="{% url 'assessment-details' assessment_id=code_question.assessment.id %}">
              <i class="fa-solid fa-arrow-left-long fa-lg" style="margin-right: 10px;"></i>
              <h6>Back to {{ code_question.assessment.name }}</h6>
            </a>
          {% endif %}
          <h2>Update Allowed Languages</h2>
          {% if code_question.question_bank != None %}
            <h5 class="text-muted">For {{ code_question.name }} in question bank: {{ code_question.question_bank.name }}</h5>
          {% else %}
            <h5 class="text-muted">For {{ code_question.name }} in assessment: {{ code_question.assessment.name }}</h5>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Tab group row -->
    <div class="row">
      <div class="col-12 m-2">
        <div class="card">
          <div class="card-body">

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'update-code-question' code_question_id=code_question.id %}">Question Description</a>
              </li>
              <li class="nav-item">
                <p class="nav-link active" id="pill-languages-tab">Languages</p>
              </li>
              <li class="nav-item">
                {% if creation %}
                  <p class="nav-link">Test Cases</p>
                {% else %}
                  <a class="nav-link" href="{% url 'update-test-cases' code_question_id=code_question.id %}?next={{ request.path }}">Test Cases</a>
                {% endif %}
              </li>
            </ul>

            <!-- Tab contents -->
            <div class="pt-3">
              {# Attempts deletion warning #}
              {% if code_question.assessment and code_question.assessment.published == False %}
              {% if code_question.assessment.assessmentattempt_set.count != 0 or not creation != 0 %}
                <div class="alert alert-warning">
                {% if code_question.assessment.assessmentattempt_set.count != 0 %}
                  <p class="text-danger fw-bold">Warning! Updating languages will delete all existing assessment attempts!</p>
                {% endif %}
                {% if not creation %}
                  <p class="text-danger fw-bold">Warning! Updating language type (Software/Hardware) will delete all existing test cases!</p>
                {% endif %}
                </div>
              {% endif %}
              {% endif %}

              <h4>Allowed Languages</h4>
              <p>
                Select the programming languages in which candidates can write their code for a programming question. You may select multiple software languages but only one hardware language.
              </p>

              <!-- Languages navbar -->
              <div class="form-group row">
                {% include 'code_questions/snippets/language-navbar-template.html' %}
              </div>

              {% for error in code_snippet_formset.errors %}
                {{ error }}
              {% endfor %}

              <form method="POST" id="code-snippet-form">
                {% csrf_token %}

                <!-- code snippet management form -->
                {{ code_snippet_formset.management_form }}

                <!-- this div holds all code snippet rows -->
                <h5 class="mt-5">Code Snippets</h5>

                <div id="code-snippets-container" class="mt-4">
                  <div id="code-snippets-toggle-container">
                    {% for language in languages %}
                      <button class="btn btn-md btn-secondary code-snippet-toggle-{{ language.id }}" type="button" data-lang-id={{ language.id }} onclick="toggleSnippet({{language.id}})" style="{% if language.id not in existing_languages %}display: none;{% endif %}">
                        {{ language.name }}
                      </button>
                    {% endfor %}
                  </div>
                  {# have existing code snippets #}
                  {% for f in code_snippet_formset %}
                    {% include 'code_questions/snippets/code-snippet-row.html' with prefix=forloop.counter0 form=f lang_id=f.language.value %}
                  {% endfor %}
                </div>

                <!-- buttons -->
                <div>
                  <button type="submit" class="btn btn-sm btn-success float-end" onclick="">Save Languages</button>
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- hidden code-snippet-row -->
    {% include 'code_questions/snippets/code-snippet-row.html' with form=code_snippet_formset.empty_form hidden=True prefix=None %}

  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>

  <!-- Checkbox script -->
  <script>
      // on key listener to add tab functionality to textareas
      $('textarea').keydown(function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 9) {
            e.preventDefault();
    
            const TAB_SIZE = 4;
    
            // The one-liner that does the magic
            document.execCommand('insertText', false, ' '.repeat(TAB_SIZE));
        }
    });

      // initialise first code snippets to show
      $('.code-snippet-row:first').show();
      $('#code-snippets-toggle-container').children().filter('button:not(:hidden):first').addClass('btn-primary fw-bold')
      $('#code-snippets-toggle-container').children().filter('button:not(:hidden):first').removeClass('btn-secondary')

      // add click event listener to code snippet toggle buttons
      function toggleSnippet(langId) {
        $('#code-snippets-toggle-container').children().filter('button').addClass('btn-secondary')
        $('#code-snippets-toggle-container').children().filter('button').removeClass('btn-primary fw-bold')
        $(`.code-snippet-toggle-${langId}`).addClass('btn-primary fw-bold')
        $(`.code-snippet-toggle-${langId}`).removeClass('btn-secondary')
        $('.code-snippet-row').hide();
        $(`#code-snippet-row-${langId}`).show();
      }

      function hideSnippetToggle(langId) {
        const toggleButton = $(`.code-snippet-toggle-${langId}`);
        toggleButton.hide();
        if (toggleButton.attr('class').includes('btn-primary')) {
          const nextToggle = $('#code-snippets-toggle-container').children().filter('button:not(:hidden):first');
          $('#code-snippets-toggle-container').children().filter('button').addClass('btn-secondary')
          $('#code-snippets-toggle-container').children().filter('button').removeClass('btn-primary fw-bold')
          if (nextToggle) {
            const nextLangId = nextToggle.data('lang-id');
            toggleSnippet(nextLangId);
          } 
        }
      }

      // function to update all prefixes
      const updatePrefixes = () => {
        const regex = RegExp(`cs-(\\d)-`, 'g');

        snippetsContainer.children().filter(".code-snippet-row").each((idx, tcRow) => {
          $(tcRow).html($(tcRow).html().replaceAll(regex, `cs-${idx}-`));
        });
      };

      const snippetsContainer = $("#code-snippets-container");
      const emptySnippetRow = $("#empty-code-snippet-row");
      const totalFormsInput = $("#id_cs-TOTAL_FORMS");
      let totalForms = totalFormsInput.val();

      function addSnippet(langId, langName, langTemplate) {
        // increment totalForms
        totalForms++;
        totalFormsInput.val(totalForms);

        // clone empty snippet row
        const cloned = emptySnippetRow.clone();

        // set id, label and language-id
        cloned.attr("id", `code-snippet-row-${langId}`);
        cloned.find(".lang-label").first().html(langName);
        cloned.find(".lang-id").first().val(langId);
        cloned.find("textarea").first().text(langTemplate);

        // update prefix
        $(cloned).html($(cloned).html().replaceAll('__prefix__', `${totalForms - 1}`));
        cloned.hide();

        // append to container
        snippetsContainer.append(cloned);
        if ($('.code-snippet-row:not(:hidden)').length === 0) {
          toggleSnippet(langId);
        }
      }

      $(".language-checkbox").change(function () {
          const checkbox = $(this);
          const existing = checkbox.data("existing");
          const langId = checkbox.data("lang-id");
          const langName = checkbox.data("lang-name");
          const langTemplate = checkbox.data("lang-template");

          if (this.checked) { // checkbox was checked (add)
            $(`.code-snippet-toggle-${langId}`).show();
            if (existing) {
                const toShow = $("#code-snippets-container #code-snippet-row-" + langId);
                if ($('.code-snippet-row:not(:hidden)').length === 0) {
                  toggleSnippet(langId);
                }
                const delete_checkbox = $(toShow).children(".delete-checkbox").first();
                $(delete_checkbox).prop('checked', false);
            } else {
                addSnippet(langId, langName, langTemplate);
            }
          } else {  // checkbox was unchecked (remove)
              const toRemove = $("#code-snippets-container #code-snippet-row-" + langId);
              hideSnippetToggle(langId);

              if (existing) {
                  // simply check the checkbox and hide the row
                  toRemove.hide();
                  const delete_checkbox = $(toRemove).children(".delete-checkbox").first();
                  $(delete_checkbox).prop('checked', true);
              } else {
                  // decrement totalForms
                  totalForms--;
                  totalFormsInput.val(totalForms);

                  // remove and update prefixes
                  toRemove.remove();
                  updatePrefixes();
              }
          }
      });
  </script>

  <!-- Radio button script-->
  <script>
    $(".language-radio").on('change', function () {
      const radio = $(this);
      const existing = radio.data("existing");
      const langId = radio.data("lang-id");
      const langName = radio.data("lang-name");
      const langTemplate = radio.data("lang-template");

      // remove existing row
      $(".language-radio").each((idx, radio) => {
        if ($(radio).data("lang-id") !== langId) {
          const langId = $(radio).data("lang-id");
          const toRemove = $("#code-snippets-container #code-snippet-row-" + langId);
          toRemove.remove();

          // decrement totalForms
          totalForms--;
          totalFormsInput.val(totalForms);
        }
      })
      $(`.code-snippet-toggle-${langId}`).show();
      addSnippet(langId, langName, langTemplate)
    });
  </script>

  <!-- Language tab script-->
  <script>
    $(".languageTab").on('shown.bs.tab', function () {
      const tab = $(this);
      const id = tab.attr('id');

      if (id == "software-tab") { // software tab was selected
        $(".language-radio").each((idx, radio) => {
          if ($(radio).prop("checked")) {
            const langId = $(radio).data("lang-id");
            const existing = $(radio).data("existing");
            const toRemove = $("#code-snippets-container #code-snippet-row-" + langId);
            hideSnippetToggle(langId);
            if (existing) {
                // simply check the checkbox and hide the row
                toRemove.hide();
                const delete_checkbox = $(toRemove).children(".delete-checkbox").first();
                $(delete_checkbox).prop('checked', true);
            } else {
                // decrement totalForms
                totalForms--;
                totalFormsInput.val(totalForms);

                // remove and update prefixes
                toRemove.remove();
                updatePrefixes();
            }
          }
        })

        // show the row with the selected language
        $(".language-checkbox").each((idx, checkbox) => {
          const existing = $(checkbox).data("existing");

          if ($(checkbox).prop("checked")) {
            const langId = $(checkbox).data("lang-id");
            const langName = $(checkbox).data("lang-name");
            const langTemplate = $(checkbox).data("lang-template");
            const shouldToggleSnippet = $('#code-snippets-row').filter(':not(:hidden)').length === 0;
            $(`.code-snippet-toggle-${langId}`).show();
            
            if (existing) {
              // uncheck the checkbox
              const toShow = $("#code-snippets-container #code-snippet-row-" + langId);
              if (shouldToggleSnippet) {
                toggleSnippet(langId);
              }
              const delete_checkbox = $(toShow).children(".delete-checkbox").first();
              $(delete_checkbox).prop('checked', false);
            } else {
              addSnippet(langId, langName, langTemplate)
            }
        };
      })
      } else if (id == 'hardware-tab') { // hardware tab was selected
        $(".language-checkbox").each((idx, checkbox) => {
          if ($(checkbox).prop("checked")) {
            const langId = $(checkbox).data("lang-id");
            const existing = $(checkbox).data("existing");
            const toRemove = $("#code-snippets-container #code-snippet-row-" + langId);
            hideSnippetToggle(langId);

            if (existing) {
                // simply check the checkbox and hide the row
                toRemove.hide();
                const delete_checkbox = $(toRemove).children(".delete-checkbox").first();
                $(delete_checkbox).prop('checked', true);
            } else {
                // decrement totalForms
                totalForms--;
                totalFormsInput.val(totalForms);

                // remove and update prefixes
                toRemove.remove();
                updatePrefixes();
            }
          }
        })

        $(".language-radio").each((idx, radio) => {
          const existing = $(radio).data("existing");
          
          if (radio.checked) {
            const langId = $(radio).data("lang-id");
            const langName = $(radio).data("lang-name");
            const langTemplate = $(radio).data("lang-template");
            $(`.code-snippet-toggle-${langId}`).show();

            if (existing) {
              // uncheck the checkbox
              const toShow = $("#code-snippets-container #code-snippet-row-" + langId);
              toggleSnippet(langId);
              const delete_checkbox = $(toShow).children(".delete-checkbox").first();
              $(delete_checkbox).prop('checked', false);
            } else {
              addSnippet(langId, langName, langTemplate)
            }
          }
        })
      }
    })
  </script>

  <!-- Prevent no language selected submission script -->
  <script>
    $("#code-snippet-form").submit(function (e) {
      if ($(".language-checkbox:checked").length == 0 && $(".language-radio:checked").length == 0) {
        e.preventDefault();
        alert("Please select at least one language!");
      }
    });
  </script>
{% endblock %}
