{% extends 'layouts/main-top-side-nav.html' %}
{% load static %}

{% block title %}Allowed Languages{% endblock %}

{% block styles %}
  <!-- ace editor css -->
  <style>
        @font-face {
            font-family: 'JetBrains Mono';
            src: url('{% static 'fonts/JetBrainsMono-Regular.ttf' %}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
  </style>

  <link rel="stylesheet" href="{% static 'vendors/highlight.js/styles/night-owl.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/toastify/toastify.css' %}"/>

{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-md-12 order-md-1 order-last pb-3">
          {% if code_question.question_bank != None %}
            <a class="d-flex align-content-between mb-3" style="cursor: pointer;" href="{% url 'question-bank-details' question_bank_id=code_question.question_bank.id %}">
              <i class="fa-solid fa-arrow-left-long fa-lg" style="margin-right: 10px;"></i>
              <h6>Back to {{ code_question.question_bank.name }}</h6>
            </a>
          {% elif code_question.assessment != None %}
            <a class="d-flex align-content-between mb-3" style="cursor: pointer;" href="{% url 'assessment-details' assessment_id=code_question.assessment.id %}">
              <i class="fa-solid fa-arrow-left-long fa-lg" style="margin-right: 10px;"></i>
              <h6>Back to {{ code_question.assessment.name }}</h6>
            </a>
          {% endif %}
          <h2>Update Allowed Languages</h2>
          {% if code_question.question_bank != None %}
            <h5 class="text-muted">For {{ code_question.name }} in question bank: {{ code_question.question_bank.name }}</h5>
          {% else %}
            <h5 class="text-muted">For {{ code_question.name }} in assessment: {{ code_question.assessment.name }}</h5>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Tab group row -->
    <div class="row">
      <div class="col-12 m-2">
        <div class="card">
          <div class="card-body">

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'update-code-question' code_question_id=code_question.id %}">Question Description</a>
              </li>
              <li class="nav-item">
                <p class="nav-link active" id="pill-languages-tab">Languages</p>
              </li>
              <li class="nav-item">
                {% if creation %}
                  <p class="nav-link">Test Cases</p>
                {% else %}
                  <a class="nav-link" href="{% url 'update-test-cases' code_question_id=code_question.id %}?next={{ request.path }}">Test Cases</a>
                {% endif %}
              </li>
            </ul>

            <!-- Tab contents -->
            <div class="pt-3">
              {# Attempts deletion warning #}
              {% if code_question.assessment and code_question.assessment.published == False %}
              {% if code_question.assessment.assessmentattempt_set.count != 0 or not creation != 0 %}
                <div class="alert alert-warning">
                {% if code_question.assessment.assessmentattempt_set.count != 0 %}
                  <p class="text-danger fw-bold">Warning! Updating languages will delete all existing assessment attempts!</p>
                {% endif %}
                {% if not creation %}
                  <p class="text-danger fw-bold">Warning! Updating language type (Software/Hardware) will delete all existing test cases!</p>
                {% endif %}
                </div>
              {% endif %}
              {% endif %}

              <h4>Allowed Languages</h4>
              <p>
                Select the programming languages in which candidates can write their code for a programming question. You may select multiple software languages but only one hardware language.
              </p>

              <!-- Languages navbar -->
              <div class="form-group row">
                {% include 'code_questions/snippets/language-navbar-template.html' %}
              </div>

              {% for error in code_snippet_formset.errors %}
                {{ error }}
              {% endfor %}

              <form method="POST" id="code-snippet-form">
                {% csrf_token %}

                <!-- code snippet management form -->
                {{ code_snippet_formset.management_form }}

                <!-- this div holds all code snippet rows -->
                <h5 class="mt-5">Code Snippets</h5>

                <div id="code-snippets-container" class="mt-4">
                  {# have existing code snippets #}
                  {% for f in code_snippet_formset %}
                    {% with languages|slice:f.language.value|last as language %}
                    {% include 'code_questions/snippets/code-snippet-row.html' with prefix=forloop.counter0 form=f lang_id=f.language.value ace_mode=language.ace_mode %}
                    {% endwith %}
                  {% endfor %}
                </div>

                <!-- buttons -->
                <div>
                  <button type="submit" class="btn btn-sm btn-success float-end" onclick="">Save Languages</button>
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- hidden code-snippet-row -->
    {% include 'code_questions/snippets/code-snippet-row.html' with form=code_snippet_formset.empty_form hidden=True prefix=None %}

  </div>
{% endblock %}

{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'vendors/ace/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
  <script type="text/javascript" src="{% static 'vendors/toastify/toastify.js' %}"></script>
  <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>

  <!-- Checkbox script -->
  <script>
      // initialize ace editor
      var Range = Range == undefined ? ace.require('ace/range').Range : Range
      var editors = editors == undefined ? {} : editors

      function setupAceEditor(prefix, aceMode) {
        const editorKey = `editor-${prefix}`
        editors[editorKey] = ace.edit(editorKey)
        editors[editorKey].renderer.setScrollMargin(10)
        editors[editorKey].setOptions({
            fontFamily: 'JetBrains Mono',
            fontSize: '16px',
            theme: 'ace/theme/cloud9_day',
            showPrintMargin: false,
            highlightActiveLine: false,
            wrap: true,
            tabSize: 4
        })
        editors[editorKey].setOption('dragEnabled', false)
        // set ace mode
        editors[editorKey].session.setMode('ace/mode/' + aceMode)

        // Synchronize Ace editor content with the hidden input field
        editors[editorKey].getSession().on('change', function (e) {
            var code = editors[editorKey].getValue()
            document.getElementById(`id_cs-${prefix}-code`).value = code
        })
      }

      const snippetsContainer = $("#code-snippets-container");
      const emptySnippetRow = $("#empty-code-snippet-row");
      const totalFormsInput = $("#id_cs-TOTAL_FORMS");
      let totalForms = totalFormsInput.val();

      $(".language-checkbox").change(function (e) {
          const checkbox = $(this);
          const existing = checkbox.data("existing");
          const langId = checkbox.data("lang-id");
          const langName = checkbox.data("lang-name");
          const langTemplate = checkbox.data("lang-template");
          const aceMode = checkbox.data("ace-mode");

          // function to update all prefixes
          const updatePrefixes = () => {
              const regex = RegExp(`cs-(\\d)-`, 'g');

              snippetsContainer.children().each((idx, tcRow) => {
                  $(tcRow).html($(tcRow).html().replaceAll(regex, `cs-${idx}-`));
              });
          };

          if (this.checked) { // checkbox was checked (add)
              if (existing) {
                  const toShow = $("#code-snippets-container #code-snippet-row-" + langId);
                  toShow.fadeIn(300, () => {
                      const delete_checkbox = $(toShow).children(".delete-checkbox").first();
                      $(delete_checkbox).prop('checked', false);
                  });
              } else {
                  // increment totalForms
                  totalForms++;
                  totalFormsInput.val(totalForms);

                  // clone empty snippet row
                  const cloned = emptySnippetRow.clone();

                  // remove id, style
                  cloned.removeAttr('id style');

                  // set id, label and language-id
                  cloned.attr("id", `code-snippet-row-${langId}`);
                  cloned.find(".lang-label").first().html(langName);
                  cloned.find(".lang-id").first().val(langId);
                  cloned.find("pre").first().text(langTemplate);
                  cloned.find(`#id_cs-__prefix__-code`).first().val(langTemplate)

                  // update prefix
                  $(cloned).html($(cloned).html().replaceAll('__prefix__', `${totalForms - 1}`));

                  // append to container
                  snippetsContainer.append(cloned);
                  setupAceEditor(totalForms - 1, aceMode)
              }

          } else {  // checkbox was unchecked (remove)
              const toRemove = $("#code-snippets-container #code-snippet-row-" + langId);

              if (existing) {
                  // simply check the checkbox and hide the row
                  toRemove.fadeOut(300, () => {
                      const delete_checkbox = $(toRemove).children(".delete-checkbox").first();
                      $(delete_checkbox).prop('checked', true);
                  });
              } else {
                  // decrement totalForms
                  totalForms--;
                  totalFormsInput.val(totalForms);

                  // remove and update prefixes
                  toRemove.fadeOut('slow', () => {
                      toRemove.remove();
                      updatePrefixes();
                  });
              }
          }
      });
  </script>

  <!-- Radio button script-->
  <script>
    $(".language-radio").on('change', function () {
      const radio = $(this);
      const existing = radio.data("existing");
      const langId = radio.data("lang-id");
      const langName = radio.data("lang-name");
      const langTemplate = radio.data("lang-template");
      const aceMode = radio.data("ace-mode");

      // remove existing row
      $(".language-radio").each((idx, radio) => {
        if ($(radio).data("lang-id") !== langId) {
          const langId = $(radio).data("lang-id");
          const toRemove = $("#code-snippets-container #code-snippet-row-" + langId);
          toRemove.fadeOut('300', () => {
            toRemove.remove();
          });

          // decrement totalForms
          totalForms--;
          totalFormsInput.val(totalForms);
        }
      })

      // increment totalForms
      totalForms++;
      totalFormsInput.val(totalForms);

      // clone empty snippet row
      const cloned = emptySnippetRow.clone();

      // remove id, style
      cloned.removeAttr('id style');

      // set id, label and language-id
      cloned.attr("id", `code-snippet-row-${langId}`);
      cloned.find(".lang-label").first().html(langName);
      cloned.find(".lang-id").first().val(langId);
      cloned.find("pre").first().text(langTemplate);
      cloned.find(`#id_cs-__prefix__-code`).first().val(langTemplate)

      // update prefix
      $(cloned).html($(cloned).html().replaceAll('__prefix__', `${totalForms - 1}`));

      // append to container
      snippetsContainer.append(cloned);
      setupAceEditor(totalForms - 1, aceMode)
    });
  </script>

  <!-- Language tab script-->
  <script>
    $(".languageTab").on('shown.bs.tab', function () {
      const tab = $(this);
      const id = tab.attr('id');

      const updatePrefixes = () => {
        const regex = RegExp(`cs-(\\d)-`, 'g');

        snippetsContainer.children().each((idx, tcRow) => {
          $(tcRow).html($(tcRow).html().replaceAll(regex, `cs-${idx}-`));
        });
      };

      if (id == "software-tab") { // software tab was selected
        $(".language-radio").each((idx, radio) => {
          if ($(radio).prop("checked")) {
            const langId = $(radio).data("lang-id");
            const existing = $(radio).data("existing");
            const toRemove = $("#code-snippets-container #code-snippet-row-" + langId);

            if (existing) {
                // simply check the checkbox and hide the row
                toRemove.fadeOut(300, () => {
                    const delete_checkbox = $(toRemove).children(".delete-checkbox").first();
                    $(delete_checkbox).prop('checked', true);
                });
            } else {
                // decrement totalForms
                totalForms--;
                totalFormsInput.val(totalForms);

                // remove and update prefixes
                toRemove.fadeOut('slow', () => {
                    toRemove.remove();
                    updatePrefixes();
                });
            }
          }
        })

        // show the row with the selected language
        $(".language-checkbox").each((idx, checkbox) => {
          const existing = $(checkbox).data("existing");

          if ($(checkbox).prop("checked")) {
            const langId = $(checkbox).data("lang-id");
            const langName = $(checkbox).data("lang-name");
            const langTemplate = $(checkbox).data("lang-template");
            const aceMode = $(checkbox).data("ace-mode");
            
            if (existing) {
              // uncheck the checkbox
              const toShow = $("#code-snippets-container #code-snippet-row-" + langId);
              toShow.fadeIn(300, () => {
                  const delete_checkbox = $(toShow).children(".delete-checkbox").first();
                  $(delete_checkbox).prop('checked', false);
              });
            } else {
              // increment totalForms
              totalForms++;
              totalFormsInput.val(totalForms);

              // clone empty snippet row
              const cloned = emptySnippetRow.clone();

              // remove id, style
              cloned.removeAttr('id style');

              // set id, label and language-id
              cloned.attr("id", `code-snippet-row-${langId}`);
              cloned.find(".lang-label").first().html(langName);
              cloned.find(".lang-id").first().val(langId);
              cloned.find("pre").first().text(langTemplate);
              cloned.find(`#id_cs-__prefix__-code`).first().val(langTemplate)

              // update prefix
              $(cloned).html($(cloned).html().replaceAll('__prefix__', `${totalForms - 1}`));

              // append to container
              snippetsContainer.append(cloned);
              setupAceEditor(totalForms - 1, aceMode)
            }
        };
      })
      } else if (id == 'hardware-tab') { // hardware tab was selected
        $(".language-checkbox").each((idx, checkbox) => {
          if ($(checkbox).prop("checked")) {
            const langId = $(checkbox).data("lang-id");
            const existing = $(checkbox).data("existing");
            const toRemove = $("#code-snippets-container #code-snippet-row-" + langId);

            if (existing) {
                // simply check the checkbox and hide the row
                toRemove.fadeOut(300, () => {
                    const delete_checkbox = $(toRemove).children(".delete-checkbox").first();
                    $(delete_checkbox).prop('checked', true);
                });
            } else {
                // decrement totalForms
                totalForms--;
                totalFormsInput.val(totalForms);

                // remove and update prefixes
                toRemove.fadeOut('slow', () => {
                    toRemove.remove();
                    updatePrefixes();
                });
            }
          }
        })

        $(".language-radio").each((idx, radio) => {
          const existing = $(radio).data("existing");
          
          if (radio.checked) {
            const langId = $(radio).data("lang-id");
            const langName = $(radio).data("lang-name");
            const langTemplate = $(radio).data("lang-template");
            const aceMode = $(radio).data("ace-mode");

            if (existing) {
              // uncheck the checkbox
              const toShow = $("#code-snippets-container #code-snippet-row-" + langId);
              toShow.fadeIn(300, () => {
                  const delete_checkbox = $(toShow).children(".delete-checkbox").first();
                  $(delete_checkbox).prop('checked', false);
              });
            } else {
              // increment totalForms
              totalForms++;
              totalFormsInput.val(totalForms);

              // clone empty snippet row
              const cloned = emptySnippetRow.clone();

              // remove id, style
              cloned.removeAttr('id style');

              // set id, label and language-id
              cloned.attr("id", `code-snippet-row-${langId}`);
              cloned.find(".lang-label").first().html(langName);
              cloned.find(".lang-id").first().val(langId);
              cloned.find("pre").first().text(langTemplate);
              cloned.find(`#id_cs-__prefix__-code`).first().val(langTemplate)

              // update prefix
              $(cloned).html($(cloned).html().replaceAll('__prefix__', `${totalForms - 1}`));

              // append to container
              snippetsContainer.append(cloned);
              setupAceEditor(totalForms - 1, aceMode)
            }
          }
        })
      }
    })
  </script>

  <!-- Prevent no language selected submission script -->
  <script>
    $("#code-snippet-form").submit(function (e) {
      if ($(".language-checkbox:checked").length == 0 && $(".language-radio:checked").length == 0) {
        e.preventDefault();
        alert("Please select at least one language!");
      }
    });
  </script>
{% endblock %}
